// This is the project stylesheet

// Colors
$app-green: rgba(65, 234, 212, 1);
$black: rgba(0, 0, 0, 1);
$black-2: rgba(29, 29, 29, 1);
$blanched-almond: rgba(251, 238, 204, 1);
$blue: rgba(64, 163, 255, 1);
$dark-slate-gray: rgba(56, 56, 59, 1);
$dark-slate-gray-2: rgba(73, 73, 73, 1);
$dodger-blue: rgba(46, 170, 220, 1);
$error-50: rgba(254, 243, 242, 1);
$error-700: rgba(180, 35, 24, 1);
$gainsboro: rgba(223, 223, 222, 1);
$gray-4: rgba(189, 189, 189, 1);
$gray-700: rgba(52, 64, 84, 1);
$green: rgba(64, 232, 171, 1);
$light-grey: rgba(210, 210, 210, 1);
$linen: rgba(235, 234, 234, 1);
$medium-aquamarine: rgba(76, 203, 157, 1);
$medium-orchid: rgba(219, 68, 243, 1);
$medium-purple: rgba(147, 84, 227, 1);
$medium-sea-green: rgba(57, 174, 132, 1);
$medium-slate-blue: rgba(162, 89, 255, 1);
$orange: rgba(255, 142, 78, 1);
$primary-50: rgba(249, 245, 255, 1);
$primary-700: rgba(105, 65, 198, 1);
$red: rgba(235, 87, 87, 1);
$silver: rgba(187, 187, 187, 1);
$slate-blue: rgba(117, 56, 195, 1);
$snow: rgba(250, 250, 250, 1);
$success-50: rgba(236, 253, 243, 1);
$success-700: rgba(2, 122, 72, 1);
$transparent-black: rgba(0, 0, 0, 0);
$transparent-black-2: rgba(7, 18, 37, 0.2);
$transparent-black-3: rgba(16, 24, 40, 0.05);
$transparent-black-4: rgba(16, 24, 40, 0.04);
$transparent-black-5: rgba(16, 24, 40, 0.1);
$transparent-dark-slate-gray: rgba(52, 64, 84, 0.6);
$transparent-midnight-blue: rgba(0, 21, 96, 0.2);
$transparent-white: rgba(255, 255, 255, 0.1);
$transparent-white-2: rgba(255, 255, 255, 0.15);
$warning-50: rgba(255, 250, 235, 1);
$warning-700: rgba(181, 71, 8, 1);
$white: rgba(255, 255, 255, 1);
$white-smoke: rgba(236, 236, 236, 1);
$yellow: rgba(255, 241, 114, 1);

// Typographies
@mixin font-awesome5-pro-18-regular {
  font-family: "FontAwesome5Pro";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
@mixin helvetica-16-regular {
  font-family: "Helvetica";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
@mixin helvetica-24-bold {
  font-family: "Helvetica";
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
@mixin helvetica-24-regular {
  font-family: "Helvetica";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}
@mixin inter-14-bold {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
@mixin montserrat-14-bold {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}
@mixin montserrat-20-bold {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}
@mixin roboto-15-regular {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
}
@mixin roboto-20-regular {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
@mixin text-md-medium {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
@mixin text-md-normal {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@mixin text-sm-medium {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
@mixin work-sans-14-regular {
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
@mixin work-sans-16-regular {
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
